* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.alert {
  text-align: center;
  color: white;
  padding: 1rem;
  font-weight: 400;
  margin: 1rem 0;
}
.alert--danger {
  background-color: #fa4d4d;
}

.alert--success {
  background-color: #1ea31e;
}

.chat-main {
  background-color: #363232;
  height: 100vh;
}

.chat-container {
  background-color: #fff;
  /* margin: 5rem 0; */
  position: relative;
}

.chat-header {
  background-color: #20c464;
  width: 100%;
  padding: 1rem;
  color: #fff;
  display: flex;
  align-items: center;
}

.chat-header__title {
  flex: 1;
}

.chat-content {
  padding: 1rem 4rem;
  background-color: rgb(243, 239, 239);
  height: 80vh;
  overflow-y: scroll;
}

/* form */
.chat-form {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #d6d1d1;
  padding: 0.5rem 1rem;
}

.chat-form input {
  width: 100%;
  padding: 0.5rem;
  border: 8px solid #fff;
  outline: none;
}
